<h1>Upload Movies</h1>

<%= form_with(url: import_movies_path, multipart: true) do |form| %>
  <div>
    <%= form.label :file, "Selecione o arquivo JSON de filmes" %>
    <%= form.file_field :file, id: "json-file", accept: "application/json", onchange: "showSubmitButton()" %>
  </div>
  <div id="submit-button" style="display: none;">
    <%= form.submit "Enviar" %>
  </div>
<% end %>

<script>
  function showSubmitButton() {
    var fileInput = document.getElementById('json-file');
    var submitButtonDiv = document.getElementById('submit-button');
    
    if (fileInput && fileInput.files.length > 0) {
      submitButtonDiv.style.display = 'block';
    } else {
      submitButtonDiv.style.display = 'none';
    }
  }

document.addEventListener('DOMContentLoaded', function() {
  const form = document.querySelector('form');
  const fileInput = document.querySelector('#json-file');

  form.addEventListener('submit', function(event) {
    event.preventDefault();

    const file = fileInput.files[0];
    const formData = new FormData();
    formData.append('file', file);

    fetch(form.action, {
      method: 'POST',
      body: formData
    })
    .then(response => {
      if (response.ok) {
        // Se a resposta for bem-sucedida, redirecione ou faça qualquer outra ação necessária
        window.location.href = '/redirect-url';
      } else {
        // Se houver um erro na resposta, exiba uma mensagem de erro ou faça outra ação necessária
        console.error('Erro ao enviar o arquivo JSON');
      }
    })
    .catch(error => {
      // Se ocorrer um erro durante a solicitação, exiba uma mensagem de erro ou faça outra ação necessária
      console.error('Erro na solicitação:', error);
    });
  });
});
</script>
